html { 
  background: url(../img/bkg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.title{
  font-family: 'Playfair Display SC', serif;
  color: rgba(10,0,0,0.75);
  font-size: 2.75em;

}

header{
  padding-top: .5em;
  /*padding-bottom: .75em;*/
}

header nav {
  padding-top: .5em;
  z-index: 100000;
}

.subtitle{
  font-family: 'Cardo', serif;
  color: #fff;
}

.topbox {
  background-color: rgba(5,0,0,0.75);
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  margin-bottom: 1.25em;
  padding: 1.25em;
}

.topboxtitle {
  padding: 0.75em;
  background-color: rgb(0,0,0);
  font-family: 'Cardo', serif;
  font-size: 18pt;
  font-weight: bold;
  color: #fff;
}

.topbox h3 {
  background-color: rgba(29,10,15,1);
  color: #fff;
}

.topbox p{
  color: #fff;
}

.midbox {
  background-color: rgba(0,20,0,0.75);
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  margin-bottom: 1.25em;
  padding: 1.25em;
}

.midbox li p {
  background-color: white;
  color: #000;
}

.midbox ul {
  padding-top: .5em;
  text-align: center;
}

.midboxtitle {
  padding: 0.75em;
  background-color: rgb(0,0,0);
  font-family: 'Cardo', serif;
  font-size: 18pt;
  font-weight: bold;
  color: #fff;
}

.midbox p{
  color: #fff;
}

.midbox li img {
    background-color: white;
    padding: 1em;
}

.botbox {
  background-color: rgba(0,0,20,0.75);
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  margin-bottom: 1.25em;
  padding: 1.25em;
  columns: 100px 4;
  -webkit-columns:100px 4; /* Safari and Chrome */
  -moz-columns:100px 4; /* Firefox */
}

.botboxtitle {
  padding: 0.75em;
  background-color: rgb(0,0,0);
  font-family: 'Cardo', serif;
  font-size: 18pt;
  font-weight: bold;
  color: #fff;
}

.botbox ul {
  padding-left: 1em;
}

.botbox ul li {
  list-style: none;
  padding-left: 1em;
}

.botbox {
  color: #fff;
  overflow: scroll;
  height: 400px;
}

aside {
  /*position: fixed;
  top:0px;
  right:0px;
  width:500px;
  overflow-x:hidden;
  overflow-y:auto;*/
  /*float: right;*/
}

#viewerCanvas {
  width: 100%; 
  height: 75vh;
  overflow: hidden; 
  /*padding-bottom: 2em;*/
}

.bookNav {
  border-top: 1px dotted white;
  padding-top: 1em;
  }

.bookNav li{
  list-style-type: none;
}

footer {
  text-align: center;
  margin-bottom: 1em;
}